

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-dark">Brand Management</h2>
                
            </div>
            <div class="col-6  text-end">
                <a asp-controller="Brand" asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Brand
                </a>
            </div>
            <hr />
        </div>
        <br /><br />
        <table id="tblBrandData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>ContactName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
@section Scripts {
        <script src="~/js/brand.js"></script>
}