@{
	ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-0">
	
	<div class="row justify-content-between" >
		<div class="col-lg-5 m-auto">
			<section class="jumbotron text-center">
				<h1 class="display-4">Discover Timeless Elegance</h1>
				<p class="lead">Explore our exquisite collection of luxury watches.</p>
			</section>

		</div>

		<div class="col-lg-5 m-auto">
			<img class="card-img-top rounded" style="object-fit" src="~/image/products/Apple_watch-series7-availability_hero_10052021_big.jpg.slideshow-xlarge_2x-removebg-preview.jpg"/>

		</div>
		
	</div>

	
</div>
