@model Brand

<form class="row g-3" method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
  <div class="col-md-6">
    <label asp-for="Name" class="form-label"> Brand Name</label>
    <input asp-for="Name" disabled class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="col-md-6">
    <label asp-for="Origin" class="form-label">Origin</label>
    <input asp-for="Origin" disabled class="form-control" >
    <span asp-validation-for="Name" class="text-danger"></span>

  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Brand" asp-action="Index" class="btn btn-outline-primary" style="width:100px">Delete</a>
  </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}